flows.json
[
    {
        "id": "7d41fa9babc2426c",
        "type": "tab",
        "label": "Sensor",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8724a4547da28472",
        "type": "tab",
        "label": "Control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9aba91fcaaf6a811",
        "type": "tab",
        "label": "Pump",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0bc3b7ed1f031887",
        "type": "mqtt-broker",
        "name": "hades",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "fae9317aacbb7477",
        "type": "ui_tab",
        "name": "IoT Smart Garden",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8974f1fbca3c1b22",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "IoT Smart Garden",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ab5e3a8a9449da87",
        "type": "ui_group",
        "name": "Sensor",
        "tab": "fae9317aacbb7477",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "17059b7a6965c31d",
        "type": "ui_group",
        "name": "Control",
        "tab": "fae9317aacbb7477",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "76931fb809943490",
        "type": "ui_group",
        "name": "Pump",
        "tab": "fae9317aacbb7477",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "97491f42da5df10c",
        "type": "mqtt in",
        "z": "7d41fa9babc2426c",
        "name": "",
        "topic": "sensors/+/soil_moisture",
        "qos": "2",
        "datatype": "auto",
        "broker": "0bc3b7ed1f031887",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 100,
        "wires": [
            [
                "3ebbe96ee63ac9c8",
                "9b4c9f6f6f144483",
                "94b258f31f0dcf60",
                "080d73e372a38f84"
            ]
        ]
    },
    {
        "id": "3ebbe96ee63ac9c8",
        "type": "ui_chart",
        "z": "7d41fa9babc2426c",
        "name": "",
        "group": "ab5e3a8a9449da87",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "History of measurements (1 day)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No soil moisture data available",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "3e9554f6ac1ded38",
        "type": "ui_gauge",
        "z": "7d41fa9babc2426c",
        "name": "",
        "group": "ab5e3a8a9449da87",
        "order": 2,
        "width": 4,
        "height": 5,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 390,
        "y": 300,
        "wires": []
    },
    {
        "id": "2b0a4d22fbfd2566",
        "type": "mqtt in",
        "z": "7d41fa9babc2426c",
        "name": "",
        "topic": "sensors/+/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "0bc3b7ed1f031887",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 300,
        "wires": [
            [
                "3e9554f6ac1ded38",
                "3ebbe96ee63ac9c8",
                "94b258f31f0dcf60"
            ]
        ]
    },
    {
        "id": "af9865a7ef86ebb3",
        "type": "mqtt in",
        "z": "7d41fa9babc2426c",
        "name": "",
        "topic": "sensors/+/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "0bc3b7ed1f031887",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 400,
        "wires": [
            [
                "b6a3fe9a44a15e63",
                "3ebbe96ee63ac9c8",
                "94b258f31f0dcf60"
            ]
        ]
    },
    {
        "id": "b6a3fe9a44a15e63",
        "type": "ui_gauge",
        "z": "7d41fa9babc2426c",
        "name": "",
        "group": "ab5e3a8a9449da87",
        "order": 3,
        "width": 4,
        "height": 5,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%RH",
        "format": "{{value}}",
        "min": "20",
        "max": "90",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 360,
        "y": 400,
        "wires": []
    },
    {
        "id": "d5ae4abc14ea4cf4",
        "type": "inject",
        "z": "7d41fa9babc2426c",
        "name": "Clear chart",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 240,
        "y": 180,
        "wires": [
            [
                "3ebbe96ee63ac9c8"
            ]
        ]
    },
    {
        "id": "94b258f31f0dcf60",
        "type": "debug",
        "z": "7d41fa9babc2426c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 130,
        "y": 240,
        "wires": []
    },
    {
        "id": "9b4c9f6f6f144483",
        "type": "ui_gauge",
        "z": "7d41fa9babc2426c",
        "name": "",
        "group": "ab5e3a8a9449da87",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Soil moisture",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 370,
        "y": 80,
        "wires": []
    },
    {
        "id": "080d73e372a38f84",
        "type": "link out",
        "z": "7d41fa9babc2426c",
        "name": "Moisture data",
        "mode": "link",
        "links": [
            "6eb819947210a780"
        ],
        "x": 545,
        "y": 120,
        "wires": []
    },
    {
        "id": "4284465a6bc7b79e",
        "type": "ui_slider",
        "z": "8724a4547da28472",
        "name": "",
        "label": "Moisture threshold (in %)",
        "tooltip": "",
        "group": "17059b7a6965c31d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 170,
        "y": 40,
        "wires": [
            [
                "d70bba95a0e931b9"
            ]
        ]
    },
    {
        "id": "d70bba95a0e931b9",
        "type": "change",
        "z": "8724a4547da28472",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "moisture",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 40,
        "wires": [
            [
                "d6a6c5e53dcf55a3"
            ]
        ]
    },
    {
        "id": "d6a6c5e53dcf55a3",
        "type": "debug",
        "z": "8724a4547da28472",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 40,
        "wires": []
    },
    {
        "id": "6eb819947210a780",
        "type": "link in",
        "z": "8724a4547da28472",
        "name": "Moisture data",
        "links": [
            "080d73e372a38f84"
        ],
        "x": 65,
        "y": 120,
        "wires": [
            [
                "6b0531c3a695f0f2"
            ]
        ]
    },
    {
        "id": "779af778951262f2",
        "type": "switch",
        "z": "8724a4547da28472",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "moisture",
                "vt": "flow"
            },
            {
                "t": "gt",
                "v": "moisture",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 120,
        "wires": [
            [
                "a635d62cdecc63bc"
            ],
            [
                "bbff58125f4bc761"
            ]
        ]
    },
    {
        "id": "a635d62cdecc63bc",
        "type": "change",
        "z": "8724a4547da28472",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 100,
        "wires": [
            [
                "c68d23d4896df169",
                "0fb850b5d35f2f00"
            ]
        ]
    },
    {
        "id": "bbff58125f4bc761",
        "type": "change",
        "z": "8724a4547da28472",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 140,
        "wires": [
            [
                "3de87fc43580983c",
                "393ebd3b41b28f82"
            ]
        ]
    },
    {
        "id": "c68d23d4896df169",
        "type": "debug",
        "z": "8724a4547da28472",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 80,
        "wires": []
    },
    {
        "id": "3de87fc43580983c",
        "type": "debug",
        "z": "8724a4547da28472",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 200,
        "wires": []
    },
    {
        "id": "0fb850b5d35f2f00",
        "type": "link out",
        "z": "8724a4547da28472",
        "name": "Pump ON",
        "mode": "link",
        "links": [
            "95fc901f221567a8"
        ],
        "x": 655,
        "y": 120,
        "wires": []
    },
    {
        "id": "393ebd3b41b28f82",
        "type": "link out",
        "z": "8724a4547da28472",
        "name": "Pump OFF",
        "mode": "link",
        "links": [
            "ab91f4ec0ab3a4f7"
        ],
        "x": 655,
        "y": 160,
        "wires": []
    },
    {
        "id": "6b0531c3a695f0f2",
        "type": "change",
        "z": "8724a4547da28472",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "'pumps/' & $match(topic,/[0-9]+/,1).match & '/state'",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 120,
        "wires": [
            [
                "779af778951262f2"
            ]
        ]
    },
    {
        "id": "3018eaff94a85d0b",
        "type": "inject",
        "z": "9aba91fcaaf6a811",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "pumps/1/state",
        "payload": "ON",
        "payloadType": "str",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "950c0d3894866c70"
            ]
        ]
    },
    {
        "id": "7937287c2767bfed",
        "type": "inject",
        "z": "9aba91fcaaf6a811",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "pumps/1/state",
        "payload": "OFF",
        "payloadType": "str",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "950c0d3894866c70"
            ]
        ]
    },
    {
        "id": "950c0d3894866c70",
        "type": "mqtt out",
        "z": "9aba91fcaaf6a811",
        "name": "",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0bc3b7ed1f031887",
        "x": 350,
        "y": 160,
        "wires": []
    },
    {
        "id": "3f9806d6f657e3b5",
        "type": "ui_text",
        "z": "9aba91fcaaf6a811",
        "group": "76931fb809943490",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Pump: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 330,
        "y": 240,
        "wires": []
    },
    {
        "id": "88057f57f4698a90",
        "type": "mqtt in",
        "z": "9aba91fcaaf6a811",
        "name": "",
        "topic": "pumps/1/state",
        "qos": "2",
        "datatype": "auto",
        "broker": "0bc3b7ed1f031887",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 260,
        "wires": [
            [
                "3f9806d6f657e3b5",
                "919aa2c72bbc247a"
            ]
        ]
    },
    {
        "id": "95fc901f221567a8",
        "type": "link in",
        "z": "9aba91fcaaf6a811",
        "name": "Pump ON",
        "links": [
            "0fb850b5d35f2f00"
        ],
        "x": 215,
        "y": 180,
        "wires": [
            [
                "950c0d3894866c70"
            ]
        ]
    },
    {
        "id": "ab91f4ec0ab3a4f7",
        "type": "link in",
        "z": "9aba91fcaaf6a811",
        "name": "Pump OFF",
        "links": [
            "393ebd3b41b28f82"
        ],
        "x": 215,
        "y": 220,
        "wires": [
            [
                "950c0d3894866c70"
            ]
        ]
    },
    {
        "id": "067045fe33c889ae",
        "type": "ui_chart",
        "z": "9aba91fcaaf6a811",
        "name": "",
        "group": "76931fb809943490",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "History of pump state (1 day)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 520,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "919aa2c72bbc247a",
        "type": "change",
        "z": "9aba91fcaaf6a811",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "ON",
                "fromt": "str",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "OFF",
                "fromt": "str",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 320,
        "wires": [
            [
                "067045fe33c889ae"
            ]
        ]
    }
]