flows.json
[
    {
        "id": "7d41fa9babc2426c",
        "type": "tab",
        "label": "Sensors",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8724a4547da28472",
        "type": "tab",
        "label": "Control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9aba91fcaaf6a811",
        "type": "tab",
        "label": "Pumps",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fc276753b96611d0",
        "type": "subflow",
        "name": "Sensor",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 600,
                "y": 60,
                "wires": [
                    {
                        "id": "97491f42da5df10c",
                        "port": 0
                    }
                ]
            },
            {
                "x": 600,
                "y": 120,
                "wires": [
                    {
                        "id": "2b0a4d22fbfd2566",
                        "port": 0
                    }
                ]
            },
            {
                "x": 600,
                "y": 180,
                "wires": [
                    {
                        "id": "af9865a7ef86ebb3",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "id",
                "type": "num",
                "value": "1",
                "ui": {
                    "type": "spinner",
                    "opts": {
                        "min": 1
                    }
                }
            },
            {
                "name": "qos",
                "type": "num",
                "value": "2",
                "ui": {
                    "type": "spinner",
                    "opts": {
                        "min": 0,
                        "max": 2
                    }
                }
            }
        ],
        "meta": {},
        "color": "#DDAA99",
        "outputLabels": [
            "soil moisture",
            "temperature",
            "humidity"
        ]
    },
    {
        "id": "083a8950d27dee38",
        "type": "subflow",
        "name": "Pump",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 580,
                "y": 80,
                "wires": [
                    {
                        "id": "88057f57f4698a90",
                        "port": 0
                    }
                ]
            },
            {
                "x": 880,
                "y": 140,
                "wires": [
                    {
                        "id": "919aa2c72bbc247a",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "id",
                "type": "num",
                "value": "1",
                "ui": {
                    "type": "spinner",
                    "opts": {
                        "min": 1
                    }
                }
            },
            {
                "name": "qos",
                "type": "num",
                "value": "2",
                "ui": {
                    "type": "spinner",
                    "opts": {
                        "min": 0,
                        "max": 2
                    }
                }
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "5ef3f25867c84c30",
        "type": "group",
        "z": "8724a4547da28472",
        "name": "Set moisture threshold",
        "style": {
            "label": true,
            "stroke": "#92d04f",
            "fill": "#c8e7a7",
            "label-position": "n",
            "color": "#777777"
        },
        "nodes": [
            "4284465a6bc7b79e",
            "d70bba95a0e931b9"
        ],
        "x": 474,
        "y": 39,
        "w": 532,
        "h": 82
    },
    {
        "id": "61a51d061c408148",
        "type": "group",
        "z": "8724a4547da28472",
        "name": "Check moisture threshold and branch depending on value",
        "style": {
            "stroke": "#0070c0",
            "fill": "#bfdbef",
            "label": true,
            "label-position": "n",
            "color": "#777777"
        },
        "nodes": [
            "6eb819947210a780",
            "779af778951262f2",
            "a635d62cdecc63bc",
            "bbff58125f4bc761",
            "0fb850b5d35f2f00",
            "393ebd3b41b28f82",
            "6b0531c3a695f0f2"
        ],
        "x": 94,
        "y": 179,
        "w": 642,
        "h": 122
    },
    {
        "id": "7f81fc4d1fc00284",
        "type": "group",
        "z": "7d41fa9babc2426c",
        "name": "Sensor #1",
        "style": {
            "label": true,
            "stroke": "#92d04f",
            "fill": "#c8e7a7",
            "label-position": "n",
            "color": "#777777"
        },
        "nodes": [
            "f59c1f09c7abbe79",
            "0bfb0b708282e855",
            "73ee91f11bed6d15",
            "906dbb112a719f32"
        ],
        "x": 94,
        "y": 79,
        "w": 282,
        "h": 162
    },
    {
        "id": "5bac0986c3fbe26b",
        "type": "group",
        "z": "9aba91fcaaf6a811",
        "name": "Send state to pump",
        "style": {
            "label": true,
            "stroke": "#92d04f",
            "fill": "#c8e7a7",
            "label-position": "n",
            "color": "#777777"
        },
        "nodes": [
            "950c0d3894866c70",
            "95fc901f221567a8",
            "ab91f4ec0ab3a4f7"
        ],
        "x": 94,
        "y": 39,
        "w": 272,
        "h": 122
    },
    {
        "id": "55629d1329bb3323",
        "type": "group",
        "z": "9aba91fcaaf6a811",
        "name": "Pump #1 dashboard",
        "style": {
            "label": true,
            "stroke": "#92d04f",
            "fill": "#c8e7a7",
            "label-position": "n",
            "color": "#777777"
        },
        "nodes": [
            "3f9806d6f657e3b5",
            "067045fe33c889ae",
            "63e107cce65a194e"
        ],
        "x": 94,
        "y": 219,
        "w": 612,
        "h": 142
    },
    {
        "id": "51d23b0249af6f92",
        "type": "group",
        "z": "7d41fa9babc2426c",
        "name": "Sensor #1 dashboard",
        "style": {
            "stroke": "#0070c0",
            "fill": "#bfdbef",
            "label": true,
            "label-position": "n",
            "color": "#777777"
        },
        "nodes": [
            "75096cb3c7f30364",
            "50a2ede1971ac6a3",
            "4e04cb4a27638912",
            "fa140344d0929a20",
            "bea2c7f6198083e6",
            "9820738e089d4683",
            "9460a7a9e61f0cc9",
            "779b1db208e52ef7"
        ],
        "x": 454,
        "y": 79,
        "w": 512,
        "h": 222
    },
    {
        "id": "a4983f50e8ca1c89",
        "type": "group",
        "z": "7d41fa9babc2426c",
        "name": "Sensor #1 save to CSV",
        "style": {
            "label": true,
            "stroke": "#ffC000",
            "fill": "#ffefbf",
            "label-position": "n",
            "color": "#777777"
        },
        "nodes": [
            "08c382de1b3708d8",
            "198889489534f8fe",
            "fc84510af0f97744",
            "2dae635ae377372d",
            "31a606c4d2d95212",
            "65ab89d79d9135cc",
            "5a1e6aa8b26197dc",
            "57c0b176eee11ca5"
        ],
        "x": 74,
        "y": 339,
        "w": 792,
        "h": 202
    },
    {
        "id": "0bc3b7ed1f031887",
        "type": "mqtt-broker",
        "name": "hades",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "fae9317aacbb7477",
        "type": "ui_tab",
        "name": "IoT Smart Garden",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8974f1fbca3c1b22",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "IoT Smart Garden",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ab5e3a8a9449da87",
        "type": "ui_group",
        "z": "7d41fa9babc2426c",
        "name": "Sensor",
        "tab": "fae9317aacbb7477",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "17059b7a6965c31d",
        "type": "ui_group",
        "z": "8724a4547da28472",
        "name": "Control",
        "tab": "fae9317aacbb7477",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "76931fb809943490",
        "type": "ui_group",
        "z": "9aba91fcaaf6a811",
        "name": "Pump",
        "tab": "fae9317aacbb7477",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "97491f42da5df10c",
        "type": "mqtt in",
        "z": "fc276753b96611d0",
        "name": "Soil moisture",
        "topic": "",
        "qos": "2",
        "datatype": "auto",
        "broker": "0bc3b7ed1f031887",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 470,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "2b0a4d22fbfd2566",
        "type": "mqtt in",
        "z": "fc276753b96611d0",
        "name": "Temperature",
        "topic": "",
        "qos": "2",
        "datatype": "auto",
        "broker": "0bc3b7ed1f031887",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 470,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "af9865a7ef86ebb3",
        "type": "mqtt in",
        "z": "fc276753b96611d0",
        "name": "Humidity",
        "topic": "",
        "qos": "2",
        "datatype": "auto",
        "broker": "0bc3b7ed1f031887",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 460,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "d16b338bbe38e52c",
        "type": "change",
        "z": "fc276753b96611d0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "'sensors/' & $string($env('id')) & '/soil_moisture'",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 60,
        "wires": [
            [
                "97491f42da5df10c"
            ]
        ]
    },
    {
        "id": "9e3b6b15281fb223",
        "type": "change",
        "z": "fc276753b96611d0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "'sensors/' & $string($env('id')) & '/temperature'",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 120,
        "wires": [
            [
                "2b0a4d22fbfd2566"
            ]
        ]
    },
    {
        "id": "ee3ae59a47a6c3ce",
        "type": "change",
        "z": "fc276753b96611d0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "'sensors/' & $string($env('id')) & '/humidity'",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 180,
        "wires": [
            [
                "af9865a7ef86ebb3"
            ]
        ]
    },
    {
        "id": "cd04f432190cd4f9",
        "type": "inject",
        "z": "fc276753b96611d0",
        "name": "",
        "props": [
            {
                "p": "action",
                "v": "subscribe",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "qos",
                "v": "qos",
                "vt": "env"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "d16b338bbe38e52c",
                "9e3b6b15281fb223",
                "ee3ae59a47a6c3ce"
            ]
        ]
    },
    {
        "id": "88057f57f4698a90",
        "type": "mqtt in",
        "z": "083a8950d27dee38",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto",
        "broker": "0bc3b7ed1f031887",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 450,
        "y": 100,
        "wires": [
            [
                "919aa2c72bbc247a"
            ]
        ]
    },
    {
        "id": "919aa2c72bbc247a",
        "type": "change",
        "z": "083a8950d27dee38",
        "name": "Change string into number value",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "ON",
                "fromt": "str",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "OFF",
                "fromt": "str",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "6320289250c95cde",
        "type": "inject",
        "z": "083a8950d27dee38",
        "name": "",
        "props": [
            {
                "p": "action",
                "v": "subscribe",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "qos",
                "v": "qos",
                "vt": "env"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "99bd1130868acef8"
            ]
        ]
    },
    {
        "id": "99bd1130868acef8",
        "type": "change",
        "z": "083a8950d27dee38",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "'pumps/' & $string($env('id')) & '/state'",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 100,
        "wires": [
            [
                "88057f57f4698a90"
            ]
        ]
    },
    {
        "id": "f59c1f09c7abbe79",
        "type": "subflow:fc276753b96611d0",
        "z": "7d41fa9babc2426c",
        "g": "7f81fc4d1fc00284",
        "name": "",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "0bfb0b708282e855"
            ],
            [
                "73ee91f11bed6d15"
            ],
            [
                "906dbb112a719f32"
            ]
        ]
    },
    {
        "id": "75096cb3c7f30364",
        "type": "ui_chart",
        "z": "7d41fa9babc2426c",
        "g": "51d23b0249af6f92",
        "name": "",
        "group": "ab5e3a8a9449da87",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "History of measurements (1 hour)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No sensor data available",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "50a2ede1971ac6a3",
        "type": "ui_gauge",
        "z": "7d41fa9babc2426c",
        "g": "51d23b0249af6f92",
        "name": "",
        "group": "ab5e3a8a9449da87",
        "order": 2,
        "width": 4,
        "height": 5,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 730,
        "y": 160,
        "wires": []
    },
    {
        "id": "4e04cb4a27638912",
        "type": "ui_gauge",
        "z": "7d41fa9babc2426c",
        "g": "51d23b0249af6f92",
        "name": "",
        "group": "ab5e3a8a9449da87",
        "order": 3,
        "width": 4,
        "height": 5,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%RH",
        "format": "{{value}}",
        "min": "20",
        "max": "90",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 720,
        "y": 200,
        "wires": []
    },
    {
        "id": "fa140344d0929a20",
        "type": "ui_gauge",
        "z": "7d41fa9babc2426c",
        "g": "51d23b0249af6f92",
        "name": "",
        "group": "ab5e3a8a9449da87",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Soil moisture",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#c41b1b",
            "#e6e600",
            "#00b000"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 730,
        "y": 120,
        "wires": []
    },
    {
        "id": "0bfb0b708282e855",
        "type": "link out",
        "z": "7d41fa9babc2426c",
        "g": "7f81fc4d1fc00284",
        "name": "soil moisture provider",
        "mode": "link",
        "links": [
            "6eb819947210a780",
            "9820738e089d4683",
            "198889489534f8fe"
        ],
        "x": 335,
        "y": 120,
        "wires": []
    },
    {
        "id": "bea2c7f6198083e6",
        "type": "inject",
        "z": "7d41fa9babc2426c",
        "g": "51d23b0249af6f92",
        "name": "Clear chart",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 560,
        "y": 260,
        "wires": [
            [
                "75096cb3c7f30364"
            ]
        ]
    },
    {
        "id": "08c382de1b3708d8",
        "type": "join",
        "z": "7d41fa9babc2426c",
        "g": "a4983f50e8ca1c89",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 430,
        "y": 420,
        "wires": [
            [
                "31a606c4d2d95212"
            ]
        ]
    },
    {
        "id": "9820738e089d4683",
        "type": "link in",
        "z": "7d41fa9babc2426c",
        "g": "51d23b0249af6f92",
        "name": "soil moisture receiver",
        "links": [
            "0bfb0b708282e855"
        ],
        "x": 535,
        "y": 120,
        "wires": [
            [
                "fa140344d0929a20",
                "75096cb3c7f30364"
            ]
        ]
    },
    {
        "id": "9460a7a9e61f0cc9",
        "type": "link in",
        "z": "7d41fa9babc2426c",
        "g": "51d23b0249af6f92",
        "name": "temperature receiver",
        "links": [
            "73ee91f11bed6d15"
        ],
        "x": 535,
        "y": 160,
        "wires": [
            [
                "50a2ede1971ac6a3",
                "75096cb3c7f30364"
            ]
        ]
    },
    {
        "id": "779b1db208e52ef7",
        "type": "link in",
        "z": "7d41fa9babc2426c",
        "g": "51d23b0249af6f92",
        "name": "humidity receiver",
        "links": [
            "906dbb112a719f32"
        ],
        "x": 535,
        "y": 200,
        "wires": [
            [
                "4e04cb4a27638912",
                "75096cb3c7f30364"
            ]
        ]
    },
    {
        "id": "73ee91f11bed6d15",
        "type": "link out",
        "z": "7d41fa9babc2426c",
        "g": "7f81fc4d1fc00284",
        "name": "temperature provider",
        "mode": "link",
        "links": [
            "9460a7a9e61f0cc9",
            "fc84510af0f97744"
        ],
        "x": 335,
        "y": 160,
        "wires": []
    },
    {
        "id": "906dbb112a719f32",
        "type": "link out",
        "z": "7d41fa9babc2426c",
        "g": "7f81fc4d1fc00284",
        "name": "humidity provider",
        "mode": "link",
        "links": [
            "779b1db208e52ef7",
            "2dae635ae377372d"
        ],
        "x": 335,
        "y": 200,
        "wires": []
    },
    {
        "id": "198889489534f8fe",
        "type": "link in",
        "z": "7d41fa9babc2426c",
        "g": "a4983f50e8ca1c89",
        "name": "",
        "links": [
            "0bfb0b708282e855"
        ],
        "x": 115,
        "y": 380,
        "wires": [
            [
                "5a1e6aa8b26197dc",
                "57c0b176eee11ca5"
            ]
        ]
    },
    {
        "id": "fc84510af0f97744",
        "type": "link in",
        "z": "7d41fa9babc2426c",
        "g": "a4983f50e8ca1c89",
        "name": "",
        "links": [
            "73ee91f11bed6d15"
        ],
        "x": 115,
        "y": 420,
        "wires": [
            [
                "5a1e6aa8b26197dc"
            ]
        ]
    },
    {
        "id": "2dae635ae377372d",
        "type": "link in",
        "z": "7d41fa9babc2426c",
        "g": "a4983f50e8ca1c89",
        "name": "",
        "links": [
            "906dbb112a719f32"
        ],
        "x": 115,
        "y": 460,
        "wires": [
            [
                "5a1e6aa8b26197dc"
            ]
        ]
    },
    {
        "id": "31a606c4d2d95212",
        "type": "csv",
        "z": "7d41fa9babc2426c",
        "g": "a4983f50e8ca1c89",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "timestamp,soil_moisture,temperature,humidity",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 550,
        "y": 420,
        "wires": [
            [
                "65ab89d79d9135cc"
            ]
        ]
    },
    {
        "id": "65ab89d79d9135cc",
        "type": "file",
        "z": "7d41fa9babc2426c",
        "g": "a4983f50e8ca1c89",
        "name": "",
        "filename": "/home/pi/sensor_data.csv",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 730,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "5a1e6aa8b26197dc",
        "type": "change",
        "z": "7d41fa9babc2426c",
        "g": "a4983f50e8ca1c89",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "$match(topic,/(?<=sensors\\/[0-9]+\\/)([a-z]|_)+/,1).match",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 420,
        "wires": [
            [
                "08c382de1b3708d8"
            ]
        ]
    },
    {
        "id": "57c0b176eee11ca5",
        "type": "change",
        "z": "7d41fa9babc2426c",
        "g": "a4983f50e8ca1c89",
        "name": "Generate timestamp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$now()",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "timestamp",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 500,
        "wires": [
            [
                "08c382de1b3708d8"
            ]
        ]
    },
    {
        "id": "4284465a6bc7b79e",
        "type": "ui_slider",
        "z": "8724a4547da28472",
        "g": "5ef3f25867c84c30",
        "name": "",
        "label": "Moisture threshold (in %)",
        "tooltip": "",
        "group": "17059b7a6965c31d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 610,
        "y": 80,
        "wires": [
            [
                "d70bba95a0e931b9"
            ]
        ]
    },
    {
        "id": "d70bba95a0e931b9",
        "type": "change",
        "z": "8724a4547da28472",
        "g": "5ef3f25867c84c30",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "moisture",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "6eb819947210a780",
        "type": "link in",
        "z": "8724a4547da28472",
        "g": "61a51d061c408148",
        "name": "Moisture data",
        "links": [
            "0bfb0b708282e855"
        ],
        "x": 135,
        "y": 240,
        "wires": [
            [
                "6b0531c3a695f0f2"
            ]
        ]
    },
    {
        "id": "779af778951262f2",
        "type": "switch",
        "z": "8724a4547da28472",
        "g": "61a51d061c408148",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "moisture",
                "vt": "flow"
            },
            {
                "t": "gt",
                "v": "moisture",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 400,
        "y": 240,
        "wires": [
            [
                "a635d62cdecc63bc"
            ],
            [
                "bbff58125f4bc761"
            ]
        ]
    },
    {
        "id": "a635d62cdecc63bc",
        "type": "change",
        "z": "8724a4547da28472",
        "g": "61a51d061c408148",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 220,
        "wires": [
            [
                "0fb850b5d35f2f00"
            ]
        ]
    },
    {
        "id": "bbff58125f4bc761",
        "type": "change",
        "z": "8724a4547da28472",
        "g": "61a51d061c408148",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 260,
        "wires": [
            [
                "393ebd3b41b28f82"
            ]
        ]
    },
    {
        "id": "0fb850b5d35f2f00",
        "type": "link out",
        "z": "8724a4547da28472",
        "g": "61a51d061c408148",
        "name": "Pump ON",
        "mode": "link",
        "links": [
            "95fc901f221567a8"
        ],
        "x": 695,
        "y": 220,
        "wires": []
    },
    {
        "id": "393ebd3b41b28f82",
        "type": "link out",
        "z": "8724a4547da28472",
        "g": "61a51d061c408148",
        "name": "Pump OFF",
        "mode": "link",
        "links": [
            "ab91f4ec0ab3a4f7"
        ],
        "x": 695,
        "y": 260,
        "wires": []
    },
    {
        "id": "6b0531c3a695f0f2",
        "type": "change",
        "z": "8724a4547da28472",
        "g": "61a51d061c408148",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "'pumps/' & $match(topic,/[0-9]+/,1).match & '/state'",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 240,
        "wires": [
            [
                "779af778951262f2"
            ]
        ]
    },
    {
        "id": "a87a5b842b81d57e",
        "type": "inject",
        "z": "8724a4547da28472",
        "name": "Inject moisture threshold in case of restart",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "moisture",
        "payloadType": "flow",
        "x": 280,
        "y": 80,
        "wires": [
            [
                "4284465a6bc7b79e"
            ]
        ]
    },
    {
        "id": "950c0d3894866c70",
        "type": "mqtt out",
        "z": "9aba91fcaaf6a811",
        "g": "5bac0986c3fbe26b",
        "name": "pump",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0bc3b7ed1f031887",
        "x": 290,
        "y": 100,
        "wires": []
    },
    {
        "id": "3f9806d6f657e3b5",
        "type": "ui_text",
        "z": "9aba91fcaaf6a811",
        "g": "55629d1329bb3323",
        "group": "76931fb809943490",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Pump state",
        "label": "Pump: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 550,
        "y": 260,
        "wires": []
    },
    {
        "id": "95fc901f221567a8",
        "type": "link in",
        "z": "9aba91fcaaf6a811",
        "g": "5bac0986c3fbe26b",
        "name": "Pump ON",
        "links": [
            "0fb850b5d35f2f00"
        ],
        "x": 135,
        "y": 80,
        "wires": [
            [
                "950c0d3894866c70"
            ]
        ]
    },
    {
        "id": "ab91f4ec0ab3a4f7",
        "type": "link in",
        "z": "9aba91fcaaf6a811",
        "g": "5bac0986c3fbe26b",
        "name": "Pump OFF",
        "links": [
            "393ebd3b41b28f82"
        ],
        "x": 135,
        "y": 120,
        "wires": [
            [
                "950c0d3894866c70"
            ]
        ]
    },
    {
        "id": "067045fe33c889ae",
        "type": "ui_chart",
        "z": "9aba91fcaaf6a811",
        "g": "55629d1329bb3323",
        "name": "",
        "group": "76931fb809943490",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "History of pump state (1 day)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "63e107cce65a194e",
        "type": "subflow:083a8950d27dee38",
        "z": "9aba91fcaaf6a811",
        "g": "55629d1329bb3323",
        "name": "",
        "x": 170,
        "y": 280,
        "wires": [
            [
                "3f9806d6f657e3b5"
            ],
            [
                "067045fe33c889ae"
            ]
        ]
    }
]